* {
  margin: 10;
  padding: 0;
}

#navbar {
  margin-top: 20px;
  margin-left: 30px;
  padding: auto;
  display: flex;
  flex-direction: row;

 

}

.menu {
  padding-top: 10px;
  width: 50px;
  justify-content: center;
  align-items: center;

}

.logo {
  justify-content: center;
  align-items: center;
  padding-left: 30px;


}

.search {
  display: flex;
  flex-direction: row;
  padding-left: 120px;

  padding-top: 20px;
  padding-bottom: 5px;



}

.button {
  display: flex;
  flex-direction: row;

}

.microphone {
  margin-top: auto;
  padding-left: 20px;
}

.live {
  margin-top: auto;
  padding-left: 300px;
}

.notification {
  margin-top: auto;
  padding-left: 30px;
}

.profile {
  margin-top: auto;
  padding-left: 40px;
}
.container{
  
  width: 100%;
  height: 2200px;
  display: flex;
  flex-direction: row;
  

}
.left{
 
  width: 15%;
  height:900px;
  display: flex;
  flex-direction: column;
  background-color:white;
  justify-content: center;
  text-align: center;
}
.right{

  width: 100%;
  height: 2200px;
  
  display: flex;
  flex-direction: column;
}
.left ul li a{
  color:black;
  display: block;
  padding: 9px 10px;
  border-radius: 10px;
  border-color: red;
  text-decoration: none;
  padding-left: 10px;

}
.left ul li a:hover{
  color:black;
  background-color:rgb(150, 109, 109);
}
.left img{
  padding-right: 10px;
  padding-top: 20px;
}
.videos{
  margin: 10px;
  padding: 10px;
  
}
.videos iframe{

  margin: 5px;
  padding: 5px;
  
}
.videos1{
  margin: 10px;
  padding: 10px;
  
}
.videos1 iframe{

  margin: 5px;
  padding: 5px;
  
}
.videos2{
  margin: 10px;
  padding: 10px;
  
}
.videos2 iframe{

  margin: 5px;
  padding: 5px;
  
}




