*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;

}
.reelcontainer{
    background: pink;
    height: 80vh;
    margin-top: 6em;
    width: 25vh;
    display: flex;
    justify-content: center;
}
.reel{
    display: flex;
    justify-content: center;
}